[submodule "packages/ru_ru_language_pack"]
	path = packages/ru_ru_language_pack
	url = http://gitlab8.lab321.ru/suitecrm/ru_ru_language_pack.git
[submodule "packages/locale_ru"]
	path = packages/locale_ru
	url = http://gitlab8.lab321.ru/suitecrm/locale_ru.git
[submodule "packages/scores"]
	path = packages/scores
	url = http://gitlab.lab321.ru/sugarcrm/scores.git
[submodule "packages/outside"]
	path = packages/outside
	url = http://gitlab8.lab321.ru/suitecrm/outside.git
[submodule "packages/accounts_rf_props_field"]
	path = packages/accounts_rf_props_field
	url = http://gitlab.lab321.ru/sugarcrm/accounts_rf_props_field.git
[submodule "packages/domains"]
	path = packages/domains
	url = http://gitlab8.lab321.ru/lider/domains.git
[submodule "packages/db_doms"]
	path = packages/db_doms
	url = http://gitlab.lab321.ru/sugarcrm/db_doms.git
[submodule "packages/insert_org_form_dom"]
	path = packages/insert_org_form_dom
	url = http://gitlab.lab321.ru/sugarcrm/insert_org_form_dom.git
[submodule "packages/securityforms"]
	path = packages/securityforms
	url = http://gitlab.lab321.ru/sugarcrm/securityforms.git
[submodule "packages/leader_accounts"]
	path = packages/leader_accounts
	url = http://gitlab8.lab321.ru/lider/leader_accounts.git
